@import './base.css';

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  display: flex;
}

a {
  text-decoration: none;
  color: #767676;
  padding: 3px;
}

@media (min-width: 769px) {
  #app {
    width: auto;
  }
}
